.donationPage {
    background-color: #2D54DC;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1900px;
    height: 100%;

}

.pixContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pixContainer div {
    background-color: #0E0FB5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
    width: 40vw;
}

.pixContainer div p {
    color: #ECF0F1;
    font-size: 1.5vw;
    padding: 0;

}

.pixContainer div button {
    width: 30%;
    height: 60px;
    background-color: #FFBA08;
    border-radius: 20px;
    border: none;
    color: #ECF0F1;
    font-size: 1.5vw;
    box-shadow: 2px 2px 4px 1px #000000;
    transition: 0.5s;
 
}

.pixContainer div button:hover {
    box-shadow: none;
    /* background-color: #d8a116; */
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
    transition: 0.5s;
}

.pixContainer img {
    width: 30vw;
    height: 30vw;
}

@media screen and (max-width: 768px) {

    .donationPage {
        height: 100%;
    }

    .pixContainer {
        flex-direction: column;
        width: 90%;
    }

    .pixContainer div {
        width: 80vw;
        margin-bottom: 20px;
    }

    .pixContainer div p {
        font-size: 14px;
    }

    .pixContainer div button {
        width: 50%;
        height: 40px;
        font-size: 14px;
    }

    .pixContainer img {
        width: 70vw;
        height: 70vw;
    }
    
}